.navigation {
  width: 100%;
  height: 65px;
  background-color: #F8F8F8 !important;
  color: #525252 !important;
  box-shadow: none !important;
  align-items: center;
  border-right: 1px solid #DCDCDC !important;
  border-bottom: 2px solid lightgrey;
}

.navigation .toolbar {
  max-width: 1110px;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px solid red;
}

.hound-head {
	height: 39px;
	width: 300px;
	color: #525252;
	font-size: 27px;
	font-weight: 550;
	line-height: 39px;
	text-align: center;
}

.link {
	height: 13px;
	width: 36px;
	color: #505D68;
	font-size: 12px;
	line-height: 13px;
	text-align: center;
  text-transform: uppercase;
  margin-left: 24px;
}

.link.button {
  padding: 10px 30px;
  border: 1px solid #424B5A;
  border-radius: 4px;
  cursor: pointer;
}

.home-link {
  text-decoration: none !important;
}

.version {
  margin-right: 60px;
  display: flex;
  position: relative;
  border: 0px solid red;
}
